* notebook created by nov05 on 2024-12-30   
* Read the dataset document on [Github](https://github.com/awslabs/open-data-docs/tree/main/docs/aft-vbi-pds)    
* Check the [AWS Open Data Registry](https://registry.opendata.aws/amazon-bin-imagery/)

In [9]:
## windows cmd to launch notepad to edit aws config and credential files
# !notepad C:\Users\guido\.aws\config
!notepad C:\Users\guido\.aws\credentials

# üëâ **Amazon Bin Image Dataset**  
* There are 500,000 images in the dataset.

In [3]:
## arn:aws:s3:::aft-vbi-pds
!aws s3 ls --no-sign-request s3://aft-vbi-pds/

                           PRE bin-images/
                           PRE metadata/
2017-01-16 13:10:34      22309 LICENSE
2016-06-25 15:17:05        184 NOTICE
2016-06-23 21:56:47       3976 index.html

In [21]:
!aws s3 cp --no-sign-request s3://aft-vbi-pds/bin-images/242.jpg ../data/bin-images/242.jpg

Completed 110.0 KiB/110.0 KiB (137.6 KiB/s) with 1 file(s) remaining
download: s3://aft-vbi-pds/bin-images/242.jpg to ..\data\242.jpg

In [22]:
!aws s3 cp --no-sign-request s3://aft-vbi-pds/metadata/242.json ../data/metadata/242.json

Completed 714 Bytes/714 Bytes (1.2 KiB/s) with 1 file(s) remaining
download: s3://aft-vbi-pds/metadata/242.json to ..\data\242.json

In [ ]:
# !aws s3 cp --no-sign-request s3://aft-vbi-pds/bin-images/02157.jpg ../data/02157.jpg
# !aws s3 cp --no-sign-request s3://aft-vbi-pds/metadata/02157.json ../data/02157.json

Completed 36.7 KiB/36.7 KiB (55.0 KiB/s) with 1 file(s) remaining
download: s3://aft-vbi-pds/bin-images/02157.jpg to ..\data\02157.jpg
Completed 2.0 KiB/2.0 KiB (3.5 KiB/s) with 1 file(s) remaining
download: s3://aft-vbi-pds/metadata/02157.json to ..\data\02157.json

In [25]:
import json
from pprint import pprint
with open('../data/242.json', 'r') as file:
    data = json.load(file)
pprint(data)

{'BIN_FCSKU_DATA': {'B010E0N7ZU': {'asin': 'B010E0N7ZU',
                                   'height': {'unit': 'IN', 'value': 7.1},
                                   'length': {'unit': 'IN', 'value': 10.8},
                                   'name': 'Caf√© Break-Resistant Plastic 20oz '
                                           'Restaurant-Quality Beverage '
                                           'Tumblers | Set of 16 in 4 Assorted '
                                           'Colors',
                                   'quantity': 1,
                                   'weight': {'unit': 'pounds', 'value': 2.85},
                                   'width': {'unit': 'IN', 'value': 7.7}}},
 'EXPECTED_QUANTITY': 1,
 'image_fname': '242.jpg'}

In [4]:
import json
## The file_list.json file in the starter folder contains a list of files that are available in the s3 bucket.  
## It lists out 1228 of the 500,000 files.  
with open('file_list.json', 'r') as f:
    d = json.load(f)
l = [len(d[str(i)]) for i in range(1, 6)]
print(l)
print("total:", sum(l))

[1228, 2299, 2666, 2373, 1875]
total: 10441

# üëâ **Kaggle dataset**  

* Get metadata.sqlite from [Kaggle](https://www.kaggle.com/datasets/dhruvildave/amazon-bin-image-dataset/data). This dataset contains 50,000 images, which are 1/10 of the original dataset.    
* This dataset won't be used for this project.

In [19]:
import pandas as pd
from pprint import pprint
import sqlite3
conn = sqlite3.connect("../data/metadata.sqlite")
df = pd.read_sql_query("""
SELECT json_extract(data, '$.BIN_FCSKU_DATA') AS data,
    json_extract(data, '$.EXPECTED_QUANTITY') AS quantity
FROM metadata
WHERE img_id = '00242';
""", conn)
df

                                                data  quantity
0  {"B000LRH9J2":{"asin":"B000LRH9J2","height":{"...         6

In [15]:
pprint(json.loads(df.loc[0, "data"]))

{'B000LRH9J2': {'asin': 'B000LRH9J2',
                'height': {'unit': 'IN', 'value': 2.49999999745},
                'length': {'unit': 'IN', 'value': 5.799999994084},
                'name': 'Mint Leaf Crushed (Castella) 3 oz',
                'normalizedName': 'Mint Leaf Crushed (Castella) 3 oz',
                'quantity': 2,
                'weight': {'unit': 'pounds', 'value': 0.3},
                'width': {'unit': 'IN', 'value': 2.699999997246}},
 'B001005KVS': {'asin': 'B001005KVS',
                'height': {'unit': 'IN', 'value': 4.199999995716},
                'length': {'unit': 'IN', 'value': 4.899999995002001},
                'name': 'Absolute Coatings 3775 Last N Last Wood Finish '
                        'Acrylic Satin Clear, 1 quart',
                'normalizedName': 'Absolute Coatings 3775 Last N Last Wood '
                                  'Finish Acrylic Satin Clear, 1 quart',
                'quantity': 2,
                'weight': {'unit': 'pounds', 'value': 2.3499999980293125},
                'width': {'unit': 'IN', 'value': 4.299999995614}},
 'B00XHYVS16': {'asin': 'B00XHYVS16',
                'height': {'unit': 'IN', 'value': 1.599999998368},
                'length': {'unit': 'IN', 'value': 7.599999992248},
                'name': 'i-smile¬Æ 15PCS Replacement Bands with Metal Clasps '
                        'for Fitbit Flex / Wireless Activity Bracelet Sport '
                        'Wristband / Fitbit Flex Bracelet Sport Arm Band (No '
                        'tracker, Replacement Bands Only) & 2PCS Silicon '
                        'Fastener Ring For Free (Set of 15, Large)',
                'normalizedName': 'Set of 15 i-smile¬Æ 15PCS Replacement Bands '
                                  'with Metal Clasps for Fitbit Flex / '
                                  'Wireless Activity Bracelet Sport Wristband '
                                  '/ Fitbit Flex Bracelet Sport Arm Band (No '
                                  'tracker, Replacement Bands Only) & 2PCS '
                                  'Silicon Fastener Ring For Free ( , Large)',
                'quantity': 1,
                'weight': {'unit': 'pounds', 'value': 0.39999999966456384},
                'width': {'unit': 'IN', 'value': 5.699999994186001}},
 'B01DP22MF0': {'asin': 'B01DP22MF0',
                'height': {'unit': 'IN', 'value': 1.4173228332},
                'length': {'unit': 'IN', 'value': 2.0472440924},
                'name': 'Anmao 18K White Gold Plated Square Cz Stud Earrings '
                        'Setting For Women Earrings STD-01',
                'normalizedName': 'Anmao 18K White Gold Plated Square Cz Stud '
                                  'Earrings Setting For Women Earrings STD-01',
                'quantity': 1,
                'weight': {'unit': 'pounds', 'value': 0.10999999990775504},
                'width': {'unit': 'IN', 'value': 1.6535433054}}}

In [20]:
df = pd.read_sql_query("""
SELECT json_extract(data, '$.BIN_FCSKU_DATA') AS data,
    json_extract(data, '$.EXPECTED_QUANTITY') AS qnty
FROM metadata;
""", conn)
df.data = df.data.apply(json.loads)
df

                                                    data  qnty
0      {'B018240DGG': {'asin': 'B018240DGG', 'height'...     3
1      {'1593859864': {'asin': '1593859864', 'height'...     6
2      {'B000052Z9F': {'asin': 'B000052Z9F', 'height'...     9
3      {'B00065PQTO': {'asin': 'B00065PQTO', 'height'...     5
4      {'B00H3L51XA': {'asin': 'B00H3L51XA', 'height'...     8
...                                                  ...   ...
49995  {'0205616887': {'asin': '0205616887', 'height'...     5
49996  {'B00F4O8O3C': {'asin': 'B00F4O8O3C', 'height'...     4
49997  {'0783237367': {'asin': '0783237367', 'height'...    12
49998  {'B004I2F49I': {'asin': 'B004I2F49I', 'height'...     5
49999  {'B0009XCJF2': {'asin': 'B0009XCJF2', 'height'...     3

[50000 rows x 2 columns]

# üëâ **Baselines**

In [1]:
counts = [
    [3, 34985],
    [4, 31301],
    [2, 29956],
    [5, 24250],
    [1, 16201],
    [0, 3843]
]
total = sum([e[1] for e in counts])
print(f"total image count: {total}")
print(f"largest class baseline: {counts[1][1]/total*100:.2f}%")
print(f"random class baseline: {sum([(c[1]/total)**2 for c in counts])*100:.2f}%")

total image count: 140536
largest class baseline: 22.27%
random class baseline: 20.08%

# üëâ **AWS Athena**

```sql
select expected_quantity, count(expected_quantity)
from "database-aft-vbi-pds"."table_metadata"
group by expected_quantity
order by expected_quantity;
```

For the 10K dataset, the result is  
```text
#	expected_quantity	_col1
1	1	1228
2	2	2299
3	3	2666
4	4	2373
5	5	1875
```

https://discuss.pytorch.org/t/passing-the-weights-to-crossentropyloss-correctly/14731

In [21]:
## Since the dataset is huge, I didn't want to iterate over 
# the training data in real time to get class weights. 
# Instead, I used AWS Athena to query the label counts, 
# manually retrieved them, and passed the dictionary as 
# a hyperparameter to the SageMaker estimator.
from sklearn.utils.class_weight import compute_class_weight
import numpy as np
# Label counts for each class
label_counts = {2: 2299, 3: 2666, 4:2373, 5:1875, 1: 1228}
total_samples = sum(label_counts.values())
classes = np.array(list(label_counts.keys()))
samples_per_class = np.array([label_counts[c] for c in classes])
# Compute class weights using the formula: N / (k * n_i)
class_weights = total_samples / (len(classes) * samples_per_class)
class_weights_dict = dict(zip(classes, class_weights))
print("Class weights:", class_weights_dict)

Class weights: {2: 0.9083079599826012, 3: 0.7832708177044261, 4: 0.8799831436999579, 5: 1.1137066666666666, 1: 1.7004885993485341}

In [28]:
print(np.unique([5,4,3,2,1]))
print(list(class_weights_dict.keys()))
print(np.unique(list(class_weights_dict.keys())))
print([class_weights_dict[k] for k in np.unique(list(class_weights_dict.keys()))])

[1 2 3 4 5]
[2, 3, 4, 5, 1]
[1 2 3 4 5]
[1.7004885993485341, 0.9083079599826012, 0.7832708177044261, 0.8799831436999579, 1.1137066666666666]

In [13]:
from sklearn.utils.class_weight import compute_class_weight
import numpy as np
cls = [1,1,2,2,2,2,2,2,2,3,4,4,4,4,5]
cls = cls[::-1]
class_weights = compute_class_weight(
    class_weight='balanced', 
    classes=np.unique(cls), ## ‚ö†Ô∏è np.unique() will sort the classes 
    y=cls)
print(type(class_weights), class_weights)

class_weights = compute_class_weight(
    class_weight='balanced', 
    classes=np.array([5,4,3,2,1]), 
    y=cls)
print(type(class_weights), class_weights)

<class 'numpy.ndarray'> [1.5        0.42857143 3.         0.75       3.        ]
<class 'numpy.ndarray'> [3.         0.75       3.         0.42857143 1.5       ]